@using Orchard.ContentManagement;
@using Associativy.Frontends.Models
@model Associativy.Frontends.Models.AssociativySearchFormPart
           
@{
    Script.Require("AssociativyAutoComplete").AtHead();
    Style.Require("jQueryUI_Orchard");
}

@using (Html.BeginForm(null, null, FormMethod.Get, new { @id = "associativy-search-form", action = Url.Action("Associations", ViewContext.RouteData.Values) }))
{
    <fieldset>
        @Html.LabelFor(model => model.Labels, T("Search terms"))
        @Html.TextBoxFor(model => model.Labels, new { @class = "text text-small" })
        @Html.ValidationMessageFor(model => model.Labels)
    </fieldset>
    
    <button type="submit">@T("Find associations")</button>
}

<script type="text/javascript">
    $.associativyAutoComplete.terms("@Html.FieldIdFor(model => model.Labels)", "@Url.RouteUrl("Associativy.Frontends.AutoComplete.FetchSimilarLabels", new { GraphName = Model.As<IEngineConfigurationAspect>().GraphContext.GraphName })");
</script>