@using Orchard.ContentManagement;
@using Associativy.Frontends.Models
@using Associativy.Frontends.Extensions
@model Associativy.Frontends.Models.SearchFormPart
           
@{
    Script.Require("AssociativyAutoComplete").AtHead();
    Style.Require("jQueryUI_Orchard");
}
@using (Html.BeginRouteToCurrentForm(Html.ViewContext.RouteData.Route, new { Action = "ShowAssociations" }, FormMethod.Get, new { @id = "associativy-search-form" }))
{
    
    <fieldset>
        @Html.LabelFor(model => model.Labels, T("Search terms"))
        @Html.TextBoxFor(model => model.Labels, new { @class = "text text-small" })
        @Html.ValidationMessageFor(model => model.Labels)
    </fieldset>
    
    <button type="submit">@T("Find associations")</button>
}

<script type="text/javascript">
    $.associativyAutoComplete.terms("@Html.FieldIdFor(model => model.Labels)", "@Url.RouteUrl("Associativy.Frontends.AutoComplete.FetchSimilarLabels", new { EncodedGraphContext = Html.EncodeGraphContext(Model.As<EngineCommonPart>().GraphContext) })");
</script>